@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "Poppins" , sans-serif;
    justify-content: center;
    align-items: center;
    background: url(Images/back.jpg) no-repeat fixed;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 99;
}

.headertext {
    margin-top: 15%;
    font-size: 25px;
}

.navbar a{
    position: relative;
    font-size: 1.1em;
    color: #2a3a53;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #2a3a53;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.navbar a:hover::after {
    transform: scaleX(1);
}

.navbar .loginbtn {
    width: 110px;
    height: 40px;
    background: transparent;
    border: 1px solid #2a3a53;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    color: #2a3a53;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.3s;
}

.navbar .loginbtn:hover {
    transform: scale(1.1);
    background: #494747;
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    margin: 5px 5%;
    /* padding: 5px 10%; */
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.col1 {
    flex-basis: 60%;
    display: flex;
}

.col2 {
    flex-basis: 35%;
}

#about {
    padding: 80px 0;
    color: #091723;
}

.row2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.aboutcol1 {
    flex-basis: 70%;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
    color: #091723;
}

@media all and (max-width: 700px) {

    .row {
        justify-content: center;
    }

    .container {
        display: block;
    }
    
    .headertext{
        margin-top: 50px;
        font-size: 20px;
    }
    .col1 {
        flex-basis: 70%;
    }
    
    .col2 img{
       width: 350px;
    }

    header{
        font-size: 15px;
        padding: 0;
        margin: 10px -10px;
        position: absolute;
    }

    #about {
        padding: 0;
    }

    .row2 {
        display: block;
    }

    .subtitle {
        margin-bottom: 0;
        font-size: 40px;
    }
    ul {
        padding: 10px;
    }
}