@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    background: url(Images/back.jpg) no-repeat fixed;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 99;
}

.headertext {
    margin-top: 15%;
    font-size: 25px;
}

.navbar a{
    position: relative;
    font-size: 1.1em;
    color: #2a3a53;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #2a3a53;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.navbar a:hover::after {
    transform: scaleX(1);
}

.container {
    display: flex;
    margin:5px 5%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.col1 {
    flex-basis: 60%;
    display: flex;
}

.col2 {
    flex-basis: 35%;
}

#contact {
padding: 80px 0;
}

.cont-left {
    flex-basis: 60%;
}

.cont-right p{
    margin-top: 15px;
}

.cont-right p i {
    color: #091723;
    margin-right: 3px;
    font-size: 20px;
}

.cont-right h1{
    display: block;
}

.cont-right #name {
    margin: 20px 0;
}

.cont-right .fa-user {
    font-size: 35px;
}

.cont-right h1 i {
    font-size: 50px;
}

.cont-left form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    border: 1px solid #091723;
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 15px;
    margin: 15px 0;
    color: #091723;
    font-size: 18px;
    border-radius: 6px;
}

form textarea::placeholder{
    color: #091723;
}
form input::placeholder{
     color: #091723;
}

#btn2 {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    margin: 2px;
    margin-bottom: 20px;
    width: fit-content;
    border: 1px solid #091723;
    padding: 10px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background: transparent;
    transition: background 0.3s;
    transition: transform 0.3s;
}

#btn2:hover {
    border: none;
    transform: translateY(-5px);
    cursor: pointer;
    background:#091723;
}

form i {
    font-size: 15px;
    color: #091723;
}

#btn2:hover i{
    color: white;
}

.subtitle {
    font-size: 50px;
    font-weight: 600;
    color: #091723;
}



@media all and (max-width: 700px) {

    .container {
        display: block;
    }
    
    .headertext{
        margin-top: 50px;
        font-size: 19px;
    }
    .col1 {
        flex-basis: 70%;
    }
    
    .col2 img{
       width: 350px;
    }

    header{
        font-size: 15px;
        padding: 0;
        margin: 10px -10px;
        position: absolute;
    }

    #contact {
        padding: 0;
    }


    .cont-left {
        flex-basis: 100%;
    }

    #name {
        font-size: 25px;
    }

    #name i{
        font-size: 25px;
    }

    .subtitle {
        font-size: 34px;
    }
}